@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h2>Политика конфиденциальности</h2>

<p>В мобильном приложеннии запрашивается доступ к камере, доступ необходим для возможности делать фотографии деталей и их дальнейшей отправки в чат магазина</p>
<p>Нажам в мобильном приложии принять, Вы соглашаетесь что будет предоставлен доступ к камере вашего телефона</p>
