@model SpravRemontSite.DataObject.USLUGS_SHOP

@{
    ViewData["Title"] = "Создание услуги";
}

<h2>Создание услуги</h2>
<h4>@ViewData["NAME_USLUG"]</h4>
<br />

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UslugAdd">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input hidden="hidden" asp-for="ID_SHOP" value="@ViewBag.ID_SHOP" />
                <input hidden="hidden" asp-for="Uslug.ID_USLUG" value="@ViewBag.ID_USLUG" />
                <input hidden="hidden" asp-for="Uslug.NAME_USLUG" value="@ViewBag.NAME_USLUG" />

            </div>
            <div class="form-group">
                <label asp-for="NOTE_USLUGS_SHOP" class="control-label">Дополнительное описание</label>
                <input asp-for="NOTE_USLUGS_SHOP" class="form-control" />
                <span asp-validation-for="NOTE_USLUGS_SHOP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PRICE" class="control-label">Стоимость услуги</label>
                <input asp-for="PRICE" class="form-control" />
                <span asp-validation-for="PRICE" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
