/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/*///////////////////////////////////
// CSS увеличения картинки в чате
///////////////////////////////////*/
/* картинка на странице */
.minimized {
    width: 300px;
    cursor: pointer;
    border: 1px solid #FFF;
}

    .minimized:hover {
        border: 1px solid yellow;
    }

/* увеличенная картинка */
#magnify {
    display: none;
    /* position: absolute; upd: 24.10.2016 */
    position: fixed;
    max-width: 600px;
    height: auto;
    z-index: 9999;
}

    #magnify img {
        width: 100%;
    }

/* затемняющий фон */
#overlay {
    display: none;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 9990;
}

/* кнопка закрытия */
#close-popup {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #AFAFAF;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

    #close-popup i {
        width: 30px;
        height: 30px;
        background: url(https://codernote.ru/files/cross.png) no-repeat center center;
        background-size: 16px 16px;
        display: block;
    }

@keyframes rota {
    25% {
        transform: rotate(360deg);
    }
}

#close-popup:hover {
    animation: rota 4s infinite normal;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
 